# 👉 Secrets to not put out publicly
black-cat-ft.jsonl

# 👉 General
.DS_Store
*.log
*.pem

# 👉 Dependencies
/node_modules
/.pnp
.pnp.js

# 👉 Testing
/coverage

# 👉 Build & Output
/.next/
/out/
/build
/output
.cache
/memory

# 👉 TypeScript
*.tsbuildinfo
next-env.d.ts

# 👉 Environment Files
.env
.env*.local

# 👉 Vercel
.vercel

# 👉 Raw Data Files (ignored by default)
/data/*

/echo-lab/
*-CLAUDE.md

*test*