# 👉 General
.DS_Store
*.log
*.pem

# 👉 Dependencies
/node_modules
/.pnp
.pnp.js

# 👉 Testing
/coverage

# 👉 Build & Output
/.next/
/out/
/build
/output
/.cache

# 👉 TypeScript
*.tsbuildinfo
next-env.d.ts

# 👉 Environment Files
.env
.env*.local

# 👉 Vercel
.vercel

# 👉 Raw Data Files (ignored by default)
/data/*